* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* --------shared style start------- */
.font-inter-sans {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding-inline: clamp(16px, 4vw, 32px);
}

.green-text {
    color: #469165;
}

.section-heading {
    font-size: clamp(25px, 4.5vw, 48px);
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

.icon {
    background-color: #F95555;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}

#solution,
#cta-section,
footer {
    margin-top: clamp(70px, 8vw, 120px);
}


/* -------shared style end--------- */

/* ----------------------------header style area start------------------ */

/* ----------nav style start-------- */
#nav-section {
    background: url("../assets/hero-bg.png");
    position: sticky;
    /* footer age hide hoye jabe navbar  footer parent*/
    top: 0;
    z-index: 1;
    /*  footer er age hide  kom index */
}

.nav-container {
    padding: 4px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .nav-logo {
    max-width: 138px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    animation: logo 1.2s infinite;
}

@keyframes logo {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0);
        opacity: 0.4;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.nav-container .nav-menu {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-container .nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    /* line-height: 152%; */
}

.nav-btn {
    font-size: clamp(14px, 1.8vw, 16px);
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-btn:hover {
    transition: 1s ease;
    transform: rotateX(360deg);
}

/* ----------nav style end---------- */

/* ---------banner heading style start------------- */
header #banner {
    background: url("../assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: clamp(630px, 85vh, 900px);
    display: flex;
    align-items: center;
}

#banner .banner-container .banner-content {
    align-items: center;
    text-align: center;
}

.banner-content .early-access {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px;
    margin-bottom: 14px;
    cursor: pointer;
}

.banner-content .early-access .dot-style {
    width: 15px;
    height: 15px;
    background-color: #469165;
    border-radius: 50%;
    cursor: pointer;
    animation: kamal 0.8s infinite;

}

@keyframes kamal {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0);
        opacity: 0.4;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}



.banner-content .early-access .early-text {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 500;
    color: #469165;
}

.banner-container .banner-heading h1 {
    font-size: clamp(40px, 5vw, 60px);
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 14px;

}

.banner-container .banner-heading p {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.banner-content .banner-btn a {
    text-decoration: none;
}

.banner-container .banner-content .banner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.banner-content .banner-btn .green-btn {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    cursor: pointer;
    animation: my 1.5s ease-out forwards;
}

@keyframes my {
    from {
        transform: translateX(-900%);
    }

    to {
        transform: translateX(0);
    }
}

.banner-content .banner-btn .white-btn {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 600;
    color: #FFFFFF;
    padding: 11px 16px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    animation: your 1.5s ease-out forwards;
}


@keyframes your {
    from {
        transform: translateX(900%);
    }

    to {
        transform: translateX(0);
    }
}

/* ---------banner heading style end------------- */

/* ----------------------------header style area end------------------ */

/* --------------main area style start---------------- */

/* ---------problem section style start-------- */
#problem .problem-container {
    padding-top: clamp(35px, 4vw, 50px);
}

#problem .problem-container .problem-heading p {
    font-size: clamp(14px, 2vw, 16px);
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
    text-align: center;
}

#problem .problem-container .card-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 20px;
    align-items: stretch;
}

.problem-container .card-box .card {
    /* max-width: 309px; */
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

.problem-container .card-box .card h4 {
    font-size: clamp(19px, 2.5vw, 24px);
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #001931;
}

.problem-container .card-box .card p {
    font-size: clamp(14px, 2vw, 16px);
    line-height: 20px;
    color: #627382;
}

/* ---------problem section style end-------- */

/* ---------solution section start---------- */
#solution .solution-container .solution-box {
    display: flex;
    align-items: center;
    gap: clamp(24px, 5vw, 60px);
}

.solution-container .solution-box .solution-img {
    width: clamp(300px, 60vw, 600px);

}

.solution-container .solution-box .solution-img img {
    width: 100%;
    height: auto;
    display: block;
}

.solution-container .solution-content .solution-text {
    font-size: clamp(14px, 2vw, 16px);
    text-transform: uppercase;
    line-height: clamp(12px, 2.5vw, 20px);
    color: #469165;
    font-weight: 500;
    margin-bottom: clamp(8px, 14vw, 16px);

}

.solution-container .solution-content h2 {
    font-size: clamp(24px, 4vw, 48px);
    font-weight: bold;
    margin-bottom: clamp(13px, 2vw, 16px);
}

.solution-container .solution-content .solution-info {
    font-size: clamp(14px, 2vw, 16px);
    /* display: flex;
    align-items: flex-start; */
    line-height: 20px;
    color: #627382;
    margin-bottom: clamp(18px, 1.4vw, 40px);
}

.solution-container .solution-content .solution-list li {
    font-size: 16px;
    line-height: clamp(14px, 2vw, 20px);
    margin-bottom: clamp(14px, 1vw, 16px);
    color: #001931;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 6px;
}

/* ---------solution section end------- */

/* ----------call to action area style start------- */

#cta-section .cta-container {
    padding: clamp(30px, 8vw, 120px);
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 12px;
}

#cta-section .cta-container .section-heading {
    font-size: clamp(22px.3.5vw, 40px);
    font-weight: bold;
}

#cta-section .cta-container .cta-text {
    font-size: clamp(14px, 2vw, 16px);
    line-height: 20px;
    color: #627382;
    margin-bottom: 24px;
}

#cta-section .cta-container .cta-btn {
    text-align: center;
    display: flex;
    justify-content: center;
}

#cta-section .cta-container .cta-btn button {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    cursor: pointer;
}

.cta-container .cta-btn button:hover {
    transition: 1s ease;
    transform: scale(1.2);
    background: none;
}

#cta-section .cta-container .cta-info {
    font-size: clamp(14px, 2vw, 16px);
    line-height: 20px;
    color: #627382;
}

/* ----------call to action area style end------- */

/* ------------main area style end--------- */

/* --------footer area style start------- */
footer {
    background-color: #001931;
    position: relative;
    /* nvabar hidden footer parent  */
    z-index: 10;
    /* footer navbar hide */
}

footer .footer-container {
    padding-top: clamp(70px, 8vw, 120px);
}

footer .footer-container .social {
    display: flex;
    justify-content: space-between;
    padding-bottom: clamp(50px, 5vw, 80px);
}

.footer-container .social .link p {
    color: #FFFFFF;
    font-size: clamp(16px 2.5vw, 20px);
    line-height: 28px;
    margin-bottom: 16px;
}

.footer-container .social .link a {
    text-decoration: none;
    color: #F7F6F2;
    border-radius: 50%;
    margin-right: 14px;

}

footer .footer-container .copyright {
    color: #FAFAFA;
    font-size: clamp(14px, 2vw, 16px);
    line-height: 24px;
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #172d43;

}

/* --------footer area style end------- */