* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------shared style start------- */
.font-open-sans {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

.green-text {
    color: #469165;
}


.section-heading {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

.icon {
    background-color: #F95555;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}

#solution,
#cta-section,
footer {
    margin-top: 120px;
}


/* -------shared style end--------- */
/* ----------------------------header style area start------------------ */
/* ----------nav style start-------- */
header .nav-container {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-container .nav-logo {
    max-width: 138px;
}

header .nav-container .nav-menu {
    list-style: none;
    display: flex;
    gap: 32px;
}

header .nav-container .nav-menu a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}


.nav-btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-btn:hover {
    transition: 1s ease;
    transform: rotateX(360deg);
}


/* ----------nav style end---------- */

/* ---------banner heading style start------------- */
header #banner {
    background: url("../assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 630px;

}

header #banner .banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 115px;

}

#banner .banner-container .banner-content {
    text-align: center;
}

.banner-content .early-access {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px;
    margin-bottom: 14px;
    cursor: pointer;
}

.banner-content .early-access .dot-style {
    width: 15px;
    height: 15px;
    background-color: #469165;
    border-radius: 50%;
    cursor: pointer;
}

.banner-content .early-access .early-text {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}

.banner-container .banner-heading h2 {
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 14px;

}

.banner-container .banner-heading p {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.banner-content .banner-btn a {
    text-decoration: none;
}

.banner-container .banner-content .banner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.banner-content .banner-btn .green-btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    cursor: pointer;
}

.banner-btn .green-btn:hover {
    border: 1px solid white;
    background: none;
    transition: 1s;
    transition: 1s;
    transform: translate(-14px);
}

.banner-content .banner-btn .white-btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 13.5px 16px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.banner-btn .white-btn:hover {
    border: none;
    background-color: #469165;
    transition: 1s;
    transform: translate(14px);
}

/* ---------banner heading style end------------- */

/* ----------------------------header style area end------------------ */

/* --------------main area style start---------------- */

/* ---------problem section style start-------- */
#problem .problem-container {
    padding-top: 50px;
}

#problem .problem-container .problem-heading p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
    text-align: center;
}

#problem .problem-container .card-box {
    display: flex;
    gap: 24px;
}

.problem-container .card-box .card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
    box-shadow:  0 0 8px 0 rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

.problem-container .card-box .card h4 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #001931;
}

.problem-container .card-box .card p{
    font-size:16px;
    line-height:20px ;
    color:#627382 ;
}
/* ---------problem section style end-------- */

/* ---------solution section start---------- */

#solution .solution-container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.solution-container .solution-content .solution-text {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    color: #469165;
    font-weight: 500;
    margin-bottom: 16px;
}

.solution-container .solution-content h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.solution-container .solution-content .solution-info {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.solution-container .solution-content .solution-list li {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 6px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
    color: #001931;
}

/* ---------solution section end------- */

/* ----------call to action area style start------- */

#cta-section .cta-container {
    padding: 120px;
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 12px;
}

#cta-section .cta-container .section-heading {
    font-size: 40px;
    font-weight: bold;
}

#cta-section .cta-container .cta-text {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 24px;
}

#cta-section .cta-container .cta-btn {
    text-align: center;
    display: flex;
    justify-content: center;
}

#cta-section .cta-container .cta-btn button {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    cursor: pointer;
}

.cta-container .cta-btn button:hover {
    transition: 1s ease;
    transform: scale(1.2);
    background: none;
}

#cta-section .cta-container .cta-info {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

/* ----------call to action area style end------- */

/* ------------main area style end--------- */

/* --------footer area style start------- */
footer {
    background-color: #001931;
}

footer .footer-container {
    padding-top: 120px;
}

footer .footer-container .social {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.footer-container .social .link p {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
}

.footer-container .social .link a {
    text-decoration: none;
    color: #F7F6F2;
    border-radius: 50%;
    margin-right: 14px;

}

footer .footer-container .copyright {
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #172d43;

}

/* --------footer area style end------- */